body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg,black,rgb(26, 25, 25,0.7));
  /* background: linear-gradient(-45deg,snow,seashell); */
  color: white;
  animation: anim 10s ease-in-out infinite alternate;
  background-size: 100% 400%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @keyframes anim {
  0%{
    background-position: 0% 50%;
  }
  100%{
    background-position: 50% 100%;
  }
} */